.header {
  display: flex;
  width: 100%;
  background-color: #f93b4b;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  overflow: hidden;
}
.header-text {
  color: #fafafa;
}
.header-completed {
  background-color: #43c6ac;
}
