.header {
  display: flex;
  width: 100%;
  background-color: #f93b4b;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  overflow: hidden;
}
.header .controls {
  display: flex;
  flex-direction: column;
}
.header .controls .add-btn {
  opacity: 1;
  transition: all 0.15s ease-in;
}
.header .controls .add-btn i {
  font-size: 1rem;
  position: relative;
  bottom: 0;
  transition: all 0.15s ease-in;
}
.header .controls .add-btn:hover i {
  bottom: 0.1rem;
}
.header .controls .add-btn.hide {
  opacity: 0;
}
.header .controls .confirm-btn {
  position: absolute;
  top: -3rem;
  right: 0.5rem;
  transition: all 0.15s ease-in;
  color: #43c6ac;
}
.header .controls .confirm-btn:hover i {
  bottom: 0.1rem;
}
.header .controls .confirm-btn i {
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  transition: all 0.15s ease-in;
}
.header .controls .confirm-btn.show {
  top: 0.7rem;
}
.header-text {
  color: #fafafa;
}
.header-completed {
  background-color: #43c6ac;
}
