.search {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 3% 0;
  position: relative;
}
.search:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #43c6ac;
}
.search #search-input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 3px;
  transition: all 0.25s ease-out;
  border: none;
}
.search #search-input:focus {
  outline: none;
  box-shadow: 0px 1px 5px 0px #43c6ac;
  border-bottom-color: #fafafa;
}
.search #search-input:focus + i {
  color: #43c6ac;
}
.search i {
  position: absolute;
  right: 1%;
  cursor: pointer;
  color: #475760;
}
.btn {
  padding: 0.1rem 0.4rem;
  background-color: #fafafa;
  box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.75);
  color: #f93b4b;
  cursor: pointer;
}
.header {
  display: flex;
  width: 100%;
  background-color: #f93b4b;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  overflow: hidden;
}
.header-text {
  color: #fafafa;
}
.header .controls {
  display: flex;
  flex-direction: column;
}
.header .controls-add {
  opacity: 1;
  transition: all 0.15s ease-in;
}
.header .controls-add i {
  font-size: 1rem;
  position: relative;
  bottom: 0;
  transition: all 0.15s ease-in;
}
.header .controls-add:hover i {
  bottom: 0.1rem;
}
.header .controls-add.hide {
  opacity: 0;
}
.header .controls-confirm {
  position: absolute;
  top: -3rem;
  right: 0.5rem;
  transition: all 0.15s ease-in;
  color: #3bb8f9;
}
.header .controls-confirm:hover i {
  bottom: 0.1rem;
}
.header .controls-confirm i {
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  transition: all 0.15s ease-in;
}
.header .controls-confirm.show {
  top: 0.7rem;
}
.todo {
  display: flex;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.5px solid #475760;
  position: relative;
  transition: all 0.15s ease-in;
}
.todo:last-of-type {
  border: none;
}
.todo-number {
  margin-right: 0.5rem;
}
.todo-timeStamp {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #f93b4b;
  color: #fafafa;
  padding: 0.05rem;
  box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 0.25rem;
}
.todo-container {
  flex: 1;
  position: relative;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 99;
  height: 60vh;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.todo-container .add {
  transition: all 0.15s ease-in;
  width: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 99;
  overflow: hidden;
  height: 0;
  border-bottom: 2px solid #475760;
}
.todo-container .add #add-input {
  transition: all 0.15s ease-in;
  font-size: 1.1rem;
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-right: 2px solid #f93b4b;
  border-left: 2px solid #f93b4b;
  border-bottom: 2px solid #f93b4b;
}
.todo-container .add #add-input:focus {
  outline: none;
}
.todo-container .add > div {
  display: flex;
  color: #fafafa;
  align-items: center;
  justify-content: flex-end;
  background-color: #f93b4b;
  padding: 0.5rem;
}
.todo-container .add > div label {
  margin-right: 0.25rem;
  text-decoration: underline;
}
.todo-container .add.show {
  height: 5rem;
}
.todo-container .todos {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
#things-that-work {
  z-index: 99;
  position: fixed;
  top: 15%;
  left: 7%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  background: rgba(100, 100, 100, 0.7);
  color: #e6e6e6;
  padding: 1.25rem;
  border-bottom: 1px solid black;
  display: none;
}
#things-that-work .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background-color: #fafafa;
  color: black;
  width: 2rem;
  cursor: pointer;
  text-align: center;
}
#things-that-work h3 {
  background-color: rgba(20, 20, 20, 0.8);
  padding: 0.5rem;
}
#things-that-work li {
  padding: 0.3rem;
  font-size: 1rem;
}
#things-that-work.show {
  display: block;
}
.what-works {
  z-index: 99;
  position: fixed;
  top: 15%;
  left: 7%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #dcdcdc;
  cursor: pointer;
  border-bottom: 1px solid black;
  display: block;
}
.what-works.hide {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container .content {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#messageModal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5%;
  opacity: 0;
  padding: 1rem;
  background-color: rgba(71, 87, 96, 0.8);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.3rem;
  text-align: center;
  z-index: 99;
  color: #fafafa;
  transition: all 0.15s ease-in;
}
#messageModal.show {
  bottom: 5%;
  opacity: 1;
}
#curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#curve path {
  fill: url(#MyGradient);
}
