* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container .search {
  width: 50%;
  display: flex;
  align-items: center;
  margin: 3% 0;
  position: relative;
}
.container .search:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #43c6ac;
}
.container .search #search-input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.2rem;
  border-radius: 3px;
  transition: all 0.25s ease-out;
  border: none;
}
.container .search #search-input:focus {
  outline: none;
  box-shadow: 0px 1px 5px 0px #43c6ac;
  border-bottom-color: #fafafa;
}
.container .search #search-input:focus + i {
  color: #43c6ac;
}
.container .search i {
  position: absolute;
  right: 1%;
  cursor: pointer;
  color: #475760;
}
.container .content {
  width: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.container .content .todo-container {
  flex: 1 0 50%;
  position: relative;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  z-index: 99;
  height: 60vh;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}
.container .content .todo-container .header {
  display: flex;
  width: 100%;
  background-color: #f93b4b;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  z-index: 10;
  overflow: hidden;
}
.container .content .todo-container .header .controls {
  display: flex;
}
.container .content .todo-container .header .controls-add-confirm .add-btn {
  opacity: 1;
  transition: all 0.15s ease-in;
}
.container .content .todo-container .header .controls-add-confirm .add-btn i {
  font-size: 1rem;
  position: relative;
  bottom: 0;
  transition: all 0.15s ease-in;
}
.container .content .todo-container .header .controls-add-confirm .add-btn:hover i {
  bottom: 0.1rem;
}
.container .content .todo-container .header .controls-add-confirm .add-btn.hide {
  opacity: 0;
}
.container .content .todo-container .header .controls-add-confirm .confirm-btn {
  position: absolute;
  top: -3rem;
  right: 0.5rem;
  transition: all 0.15s ease-in;
  color: #43c6ac;
}
.container .content .todo-container .header .controls-add-confirm .confirm-btn:hover i {
  bottom: 0.1rem;
}
.container .content .todo-container .header .controls-add-confirm .confirm-btn i {
  font-size: 0.9rem;
  position: relative;
  bottom: 0;
  transition: all 0.15s ease-in;
}
.container .content .todo-container .header .controls-add-confirm .confirm-btn.show {
  top: 0.7rem;
}
.container .content .todo-container .header .controls .sort-btn {
  color: #3bb8f9;
}
.container .content .todo-container .header-text {
  color: #fafafa;
}
.container .content .todo-container .header-completed {
  background-color: #43c6ac;
  overflow: initial;
}
.container .content .todo-container .add {
  transition: all 0.15s ease-in;
  width: 100%;
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 99;
  overflow: hidden;
  height: 0;
}
.container .content .todo-container .add #add-input {
  transition: all 0.15s ease-in;
  font-size: 1.1rem;
  width: 100%;
  border: none;
  padding: 0.5rem;
  border-right: 0.5rem solid #f93b4b;
  border-left: 0.5rem solid #f93b4b;
}
.container .content .todo-container .add #add-input:focus {
  outline: none;
}
.container .content .todo-container .add > div {
  display: flex;
  color: #fafafa;
  align-items: center;
  justify-content: flex-end;
  background-color: #f93b4b;
  padding: 0.5rem;
}
.container .content .todo-container .add > div label {
  margin-right: 0.25rem;
  text-decoration: underline;
}
.container .content .todo-container .add.show {
  height: 5rem;
}
.container .content .todo-container .todos {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  position: relative;
}
.container .content .todo-container .todos .todo {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  transition: all 0.25s;
  box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid #f93b4b;
  margin-bottom: 0.5rem;
  background: #fafafa;
  cursor: pointer;
}
.container .content .todo-container .todos .todo.selected {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid #f93b4b;
  border-left: 6px solid #f93b4b;
  cursor: initial;
}
.container .content .todo-container .todos .todo-text {
  padding-bottom: 0.5rem;
}
.container .content .todo-container .todos .todo-due {
  width: 100%;
  border-top: 0.5px solid #475760;
  background-color: #fafafa;
  color: #475760;
  font-size: 0.8rem;
  padding-top: 0.5rem;
}
.container .content .todo-container .todos .todo .controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  visibility: hidden;
  transition: all 0.25s;
  opacity: 0;
}
.container .content .todo-container .todos .todo .controls.show {
  visibility: visible;
  opacity: 1;
}
.container .content .todo-container .todos .todo .controls .delete-todo {
  border: 1px solid white;
  margin-left: 0.25rem;
  color: white;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  transition: all 0.25s;
  cursor: pointer;
}
.container .content .todo-container .todos .todo .controls .delete-todo:hover {
  background: white;
  color: #475760;
  box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.75);
}
.container .content .todo-container .todos .todo .controls .edit-todo {
  border: 1px solid #3bb8f9;
  color: #3bb8f9;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  transition: all 0.25s;
  cursor: pointer;
}
.container .content .todo-container .todos .todo .controls .edit-todo:hover {
  background: #3bb8f9;
  color: white;
  box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.75);
}
.container .content .todo-container .todos .todo-complete {
  border-bottom: 2px solid #43c6ac;
}
.container .content .todo-container .todos .sort-options {
  position: absolute;
  right: 0;
  top: -6rem;
  z-index: 1;
  font-size: 1rem;
  background: #fafafa;
  border: 1px solid #3bb8f9;
  border-right: none;
  border-top: none;
  color: #3bb8f9;
  transition: all 0.15s ease-in;
}
.container .content .todo-container .todos .sort-options.show {
  top: 0;
}
.container .content .todo-container .todos .sort-options p {
  padding: 0.35rem;
  cursor: pointer;
  border-bottom: 0.5px solid rgba(71, 87, 96, 0.9);
}
.container .content .todo-container .todos .sort-options p.active {
  color: #fafafa;
  background: #3bb8f9;
}
.container .content .todo-container .todos .sort-options p:last-of-type {
  border-bottom: none;
}
.container .content .todo-container .todos .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  transition: all 0.25s;
  opacity: 0;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.6);
}
.container .content .todo-container .todos .overlay.show {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
.container #todo-details {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: flex;
  flex-direction: column;
  display: none;
}
.container #todo-details::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.container #todo-details textarea {
  margin: 1rem;
}
.container #todo-details input {
  margin: 1rem;
}
#messageModal {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5%;
  opacity: 0;
  padding: 1rem;
  background-color: rgba(71, 87, 96, 0.8);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 1.3rem;
  text-align: center;
  z-index: 99;
  color: #fafafa;
  transition: all 0.15s ease-in;
}
#messageModal.show {
  bottom: 5%;
  opacity: 1;
}
.btn {
  padding: 0.1rem 0.4rem;
  background-color: #fafafa;
  box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  color: #f93b4b;
  cursor: pointer;
}
#curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#curve path {
  fill: url(#MyGradient);
}
