.todo {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  transition: all 0.15s ease-in;
  box-shadow: 0.5px 0.5px 3px 0px rgba(0, 0, 0, 0.75);
  border-bottom: 2px solid #f93b4b;
  margin-bottom: 0.5rem;
  background: #fafafa;
}
.todo-text {
  padding-bottom: 0.5rem;
}
.todo-due {
  width: 100%;
  border-top: 0.5px solid #475760;
  background-color: #fafafa;
  color: #475760;
  padding-top: 0.5rem;
}
.todo-complete {
  border-bottom: 2px solid #43c6ac;
}
