@import "./colors.less";

.header {
  display: flex;
  width: 100%;
  background-color: @red;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
  padding: 0.5rem;
  height: 3rem;
  z-index: 10;
  overflow: hidden;

  @import "./controls.less";

  &-text {
    color: @white;
  }
}

.header-completed {
  background-color: @green;
  overflow: initial;
}
