@import "./colors.less";

.todo {
  display: flex;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.5px solid @grey;
  position: relative;
  transition: all 0.15s ease-in;

  &:last-of-type {
    border: none;
  }

  &-number {
    margin-right: 0.5rem;
  }

  &-text {
  }

  &-timeStamp {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: @red;
    color: @white;
    padding: 0.05rem;
    box-shadow: @smallShadow;
    margin-bottom: 0.25rem;
  }
}
