@import "./colors.less";

.todo {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: relative;
  transition: all 0.25s;
  box-shadow: @smallShadow;
  border-bottom: 2px solid @red;
  margin-bottom: 0.5rem;
  background: @white;
  cursor: pointer;

  &.selected {
    box-shadow: @boxShadow;
    border-bottom: 2px solid @red;
    border-left: 6px solid @red;
    cursor: initial;
  }

  &-text {
    padding-bottom: 0.5rem;
  }

  &-due {
    width: 100%;
    border-top: 0.5px solid @grey;
    background-color: @white;
    color: @grey;
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  .controls {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    visibility: hidden;
    transition: all 0.25s;
    opacity: 0;

    &.show {
      visibility: visible;
      opacity: 1;
    }

    .delete-todo {
      border: 1px solid white;
      margin-left: 0.25rem;
      color: white;
      border-radius: 3px;
      padding: 0.2rem 0.5rem;
      transition: all 0.25s;
      cursor: pointer;

      &:hover {
        background: white;
        color: @grey;
        box-shadow: @smallShadow;
      }
    }

    .edit-todo {
      border: 1px solid @blue;
      color: @blue;
      border-radius: 3px;
      padding: 0.2rem 0.5rem;
      transition: all 0.25s;
      cursor: pointer;

      &:hover {
        background: @blue;
        color: white;
        box-shadow: @smallShadow;
      }
    }
  }
}

.todo-complete {
  border-bottom: 2px solid @green;
}
